In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [133]:
cars = pd.read_csv("car_data.csv")

In [135]:
cars.isnull().sum()

mpg             8
cyl             0
displacement    0
hp              0
weight          0
acceleration    0
year            0
origin          0
name            0
dtype: int64

In [134]:
cars['hp'].fillna(0, inplace=True)

In [48]:
cars['ifhp'] = False

In [106]:
avg4cyl = cars['cyl'].mean()
avg4cyl

5.475369458128079

In [140]:
cyl4 = np.where(cars['cyl'] == 4)
#print(cyl4)
loccyl4 = cars.iloc[cyl4]
#print(loccyl4)
avghp4 = loccyl4['hp'].mean()
print(avghp4)

cyl6 = np.where(cars['cyl'] == 6)
loccyl6 = cars.iloc[cyl6]
avghp6 = loccyl6['hp'].mean()
print(avghp6)

78.45893719806763
101.51190476190476

In [136]:
for index, row in cars.iterrows():
    if row['cyl'] >= 6 and row['hp'] == 0:
        cars.at[index, 'hp'] = 102
    elif row['cyl'] == 4 and row['hp'] == 0:
        cars.at[index, 'hp'] = 78
    else:
        pass

In [131]:
cars['hp'].fillna(0, inplace = True)

In [138]:
np.where(cars['hp'] == 102)

(array([133, 214]),)

In [112]:
a1 = np.where(cars['hp'] == 0)
cars.iloc[zeros]

,mpg,cyl,displacement,hp,weight,acceleration,year,origin,name
38,25.0,4,98.0,0.0,2046,19.0,71,1,ford pinto
133,21.0,6,200.0,0.0,2875,17.0,74,1,ford maverick
337,40.9,4,85.0,0.0,1835,17.3,80,2,renault lecar deluxe
343,23.6,4,140.0,0.0,2905,14.3,80,1,ford mustang cobra
361,34.5,4,100.0,0.0,2320,15.8,81,2,renault 18i
382,23.0,4,151.0,0.0,3035,20.5,82,1,amc concord dl

In [82]:
np.where(cars['hp'] == 201)

(array([], dtype=int64),)

In [96]:
np.where(cars['hp'] == 119)

(array([ 38, 337, 343, 361, 382]),)

In [111]:
zeros = np.where(cars['hp'] == 4)
zeros

(array([], dtype=int64),)

In [108]:
cars2 = cars.iloc[zeros]
cars

,mpg,cyl,displacement,hp,weight,acceleration,year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,1,ford torino
5,15.0,8,429.0,198.0,4341,10.0,70,1,ford galaxie 500
6,14.0,8,454.0,220.0,4354,9.0,70,1,chevrolet impala
7,14.0,8,440.0,215.0,4312,8.5,70,1,plymouth fury iii
8,14.0,8,455.0,225.0,4425,10.0,70,1,pontiac catalina
9,15.0,8,390.0,190.0,3850,8.5,70,1,amc ambassador dpl
10,NaN,4,133.0,115.0,3090,17.5,70,2,citroen ds-21 pallas
11,NaN,8,350.0,165.0,4142,11.5,70,1,chevrolet chevelle concours (sw)
12,NaN,8,351.0,153.0,4034,11.0,70,1,ford torino (sw)
13,NaN,8,383.0,175.0,4166,10.5,70,1,plymouth satellite (sw)
14,NaN,8,360.0,175.0,3850,11.0,70,1,amc rebel sst (sw)
15,15.0,8,383.0,170.0,3563,10.0,70,1,dodge challenger se
16,14.0,8,340.0,160.0,3609,8.0,70,1,plymouth 'cuda 340
17,NaN,8,302.0,140.0,3353,8.0,70,1,ford mustang boss 302
18,15.0,8,400.0,150.0,3761,9.5,70,1,chevrolet monte carlo
19,14.0,8,455.0,225.0,3086,10.0,70,1,buick estate wagon (sw)
20,24.0,4,113.0,95.0,2372,15.0,70,3,toyota corona mark ii
21,22.0,6,198.0,95.0,2833,15.5,70,1,plymouth duster
22,18.0,6,199.0,97.0,2774,15.5,70,1,amc hornet
23,21.0,6,200.0,85.0,2587,16.0,70,1,ford maverick
24,27.0,4,97.0,88.0,2130,14.5,70,3,datsun pl510
25,26.0,4,97.0,46.0,1835,20.5,70,2,volkswagen 1131 deluxe sedan
26,25.0,4,110.0,87.0,2672,17.5,70,2,peugeot 504
27,24.0,4,107.0,90.0,2430,14.5,70,2,audi 100 ls
28,25.0,4,104.0,95.0,2375,17.5,70,2,saab 99e
29,26.0,4,121.0,113.0,2234,12.5,70,2,bmw 2002
...,...,...,...,...,...,...,...,...,...
376,27.0,4,112.0,88.0,2640,18.6,82,1,chevrolet cavalier wagon
377,34.0,4,112.0,88.0,2395,18.0,82,1,chevrolet cavalier 2-door
378,31.0,4,112.0,85.0,2575,16.2,82,1,pontiac j2000 se hatchback
379,29.0,4,135.0,84.0,2525,16.0,82,1,dodge aries se
380,27.0,4,151.0,90.0,2735,18.0,82,1,pontiac phoenix
381,24.0,4,140.0,92.0,2865,16.4,82,1,ford fairmont futura
382,23.0,4,151.0,0.0,3035,20.5,82,1,amc concord dl
383,36.0,4,105.0,74.0,1980,15.3,82,2,volkswagen rabbit l
384,37.0,4,91.0,68.0,2025,18.2,82,3,mazda glc custom l
385,31.0,4,91.0,68.0,1970,17.6,82,3,mazda glc custom
386,38.0,4,105.0,63.0,2125,14.7,82,1,plymouth horizon miser
387,36.0,4,98.0,70.0,2125,17.3,82,1,mercury lynx l
388,36.0,4,120.0,88.0,2160,14.5,82,3,nissan stanza xe
389,36.0,4,107.0,75.0,2205,14.5,82,3,honda accord
390,34.0,4,108.0,70.0,2245,16.9,82,3,toyota corolla
391,38.0,4,91.0,67.0,1965,15.0,82,3,honda civic
392,32.0,4,91.0,67.0,1965,15.7,82,3,honda civic (auto)
393,38.0,4,91.0,67.0,1995,16.2,82,3,datsun 310 gx
394,25.0,6,181.0,110.0,2945,16.4,82,1,buick century limited
395,38.0,6,262.0,85.0,3015,17.0,82,1,oldsmobile cutlass ciera (diesel)
396,26.0,4,156.0,92.0,2585,14.5,82,1,chrysler lebaron medallion
397,22.0,6,232.0,112.0,2835,14.7,82,1,ford granada l
398,32.0,4,144.0,96.0,2665,13.9,82,3,toyota celica gt
399,36.0,4,135.0,84.0,2370,13.0,82,1,dodge charger 2.2
400,27.0,4,151.0,90.0,2950,17.3,82,1,chevrolet camaro
401,27.0,4,140.0,86.0,2790,15.6,82,1,ford mustang gl
402,44.0,4,97.0,52.0,2130,24.6,82,2,vw pickup
403,32.0,4,135.0,84.0,2295,11.6,82,1,dodge rampage
404,28.0,4,120.0,79.0,2625,18.6,82,1,ford ranger
405,31.0,4,119.0,82.0,2720,19.4,82,1,chevy s-10

In [31]:
cars['ifhp'].value_counts()

False    405
True       1
Name: ifhp, dtype: int64