In [1]:
import pandas as pd
import numpy as np

In [19]:
df = pd.DataFrame(data={'col1':[0, np.nan, 2, 3, 4, np.nan, np.nan],
                       'col2':[100, 500, 200, 300, 400, 600, 800]})

df

   col1  col2
0   0.0   100
1   NaN   500
2   2.0   200
3   3.0   300
4   4.0   400
5   NaN   600
6   NaN   800

In [6]:
df.isnull().sum()

col1    3
col2    0
dtype: int64

In [7]:
df.fillna(method='pad', limit=1)

   col1  col2
0   0.0   100
1   0.0   500
2   2.0   200
3   3.0   300
4   4.0   400
5   4.0   600
6   NaN   800

In [9]:
 df.fillna(method = 'bfill')

   col1  col2
0   0.0   100
1   2.0   500
2   2.0   200
3   3.0   300
4   4.0   400
5   NaN   600
6   NaN   800

In [10]:
 df.fillna(method = 'ffill')

   col1  col2
0   0.0   100
1   0.0   500
2   2.0   200
3   3.0   300
4   4.0   400
5   4.0   600
6   4.0   800

In [13]:
df.dropna(axis=0)

   col1  col2
0   0.0   100
2   2.0   200
3   3.0   300
4   4.0   400

In [15]:
df.dropna(thresh=int(df.shape[0]*.9), axis=1)

   col2
0   100
1   500
2   200
3   300
4   400
5   600
6   800

In [18]:
df['col1'].fillna(df['col1'].mean())

0    0.00
1    2.25
2    2.00
3    3.00
4    4.00
5    2.25
6    2.25
Name: col1, dtype: float64

In [20]:
df['col1'].interpolate()

0    0.0
1    1.0
2    2.0
3    3.0
4    4.0
5    4.0
6    4.0
Name: col1, dtype: float64